
#titulo-principal {
    color:black;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
    line-height: 200%;
    width: 60%;
    margin: auto; 
    
}

#logo-principal {
    
    width: 30%;
    display: block ;
    margin: auto;
    
}

.marvel-comics {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: red;
    font-weight: bold;
    text-decoration: none;
}

.hyp-normal {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
    text-decoration: wavy;
    text-decoration: underline;
}

.sup {
    text-decoration: none;
    vertical-align: super;
}


.strong {
    font-weight: bold;
}

.em {
    
    font-style: oblique;
}

.color {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 148, 15);
    text-align: justify;
    font-style: oblique;
}
