body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #333333;
  overflow-x: hidden;
}
header {
	background-color: #333333;
	padding: 15px;
	overflow: hidden;
}
header h1 {
  font-size: 26px;
	color: #FFFFFF;
	float: left;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
  background-size: contain;
	padding-left: 65px;
  font-weight: 700;
}
header a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
	display: block;
}
header a:hover {
	background-color: #FFFFFF;
	color: #333333;
}
nav {
	float: right;
}
nav ul li {
	display: inline-block;
}
img {
	display: block;
	width: 100%;
}
#noticias-destacadas {
  width: 100vw;
  overflow: hidden;
  /*animation: 15s slider infinite;*/
  position: relative;
}
#noticias-destacadas figure {
  float: left;
  position: relative;
  width: 100vw;
}
#noticias-destacadas figcaption { /* <-- busca al elemento con id="noticias-destacadas" */
	background-color: #333333;
	padding: 15px;
}
#noticias-destacadas h2 {
	color: #FFFFFF;
	font-size: 32px;
	font-weight: 700;
}
.noticia {
	border-bottom: solid 1px #D9D9D9;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
}
.noticia:last-child {
	border: none;
}
.noticia-img {
	width: 30%;
}
.noticia-txt {
	width: 65%
}
.noticia-txt h3 {
	font-weight: 700;
	font-size: 28px;
}
.noticia-txt a {
	text-decoration: none;
	color: #000;
}
.noticia-txt p {
	font-size: 16px;
}
.noticia-txt h3,
.noticia-txt p {
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
}
#tabla-posiciones td,
#tabla-posiciones th {
	padding: 12px;
}
#tabla-posiciones th {
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
}
#tabla-posiciones td {
	background-color: #D9D9D9;
	vertical-align: middle;
}
#tabla-posiciones tr {
	border-bottom: solid 1px #999999;
}
#tabla-posiciones tr:first-child,
#tabla-posiciones tr:last-child {
	border: none;
}
#tabla-posiciones table {
	width: 600px;
	margin: auto;
}
#tabla-posiciones td:nth-of-type(odd) {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}
#tabla-posiciones td:nth-of-type(even) span {
	font-weight: 700;
	color: #008899;
}
footer {
	background-color: #333333;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	margin-top: 30px;
}
/* Animaciones CSS */
@keyframes slider {
    0% { left: 0 }
   20% { left: 0 }
   40% { left: -100vw }
   60% { left: -100vw }
   80% { left: -200vw }
  100% { left: -200vw }
}
button {
	display: none;
}
@media screen and (max-width: 600px){
	/* Inicio @media-query */
	.noticia {
		flex-direction: column;
	}
	.noticia-img, .noticia-txt {
		width: 100%;
	}
	nav {
		display: none;
		float: none;
		clear: left;
		padding-top: 1rem;
	}
	nav ul li {
		display: block;
		text-align: center;
		line-height: 1.5;
	}
	button {
		display: block;
		float: right;
		color: #FFF;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: none;
		padding: 0.25rem;
	}
	button:focus + nav {
		display: block;
	}
	/* Fin de @media-query */
}