h1 {color: red; font-style: normal; font-size:xx-large; font-weight: bolder;text-align: center;}
#logo_ant_man {width: 300px; display: block; margin: auto;}
p {font-style: normal;font-size: large;text-align: justify;padding: 30px;}