body{
    margin:40px;
    font-family: "Comic Sans";
    background-image: url("../img/torre-vengadores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
p{
    color:white;
    text-align: center;
    line-height: 200%;
}
#principal{
    color:rgb(255, 255, 255);
    font-size:40px;
    text-align: center;
}
.texto{
    color:black; 
    text-align: center;
}
a{
    color:rgb(218, 62, 14);
    text-decoration: none;
    font-weight: bold;
    background-color: white;
}
a:hover {
    color:rgb(143, 7, 120);
    background-color:white;
}
#logo-principal {
    width: 245px;
    display: block;
}
#ironman {
    background-color: #b32428;
    color: goldenrod;
}
#ironman:hover {
    color: #b32428;
    background-color: goldenrod;
}
#antman {
    color: gray;
    background-color: red;
}
#antman:hover {
    background-color: gray;
    color: red;
}
.avenger {
    padding: 5px;
    border-radius: 8px;
}
.fundador {
    border: dotted 1px black;
}
/* CAJAS FLOTANTES */
#menu {
    float: left;
    background-color: violet;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}
#contenido {
    float: right;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(0,0,0, 0.65);
    padding: 10px;
    box-sizing: border-box;
}




